/* Definição da altura do filme destaque */
.destaque {
    height: 100vh;
}

/* Definição do efeito esmaecer (fade) na vertical do destaque */
.destaque--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

/* Definição do efeito esmaecer (fade) na horizontal do destaque */
.destaque--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 20%, transparent 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;

}

/* Definição do tamanho e da fonte da letra no nome do filme destaque */
.destaque--nome {
    font-size: 60px;
    font-weight: bold;
}

/* Definição do tamanho e da fonte da letra das informações do filme destaque */
.destaque--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

/* Definição da disposição da avaliação, do ano de lançamento e da quantidade de temporadas do filme destaque */
.destaque--pontos, 
.destaque--ano, 
.destaque--temp {
    display: inline-block;
    margin-right: 15px;
}

/* Definição da cor da avaliação do filme destaque */
.destaque--pontos {
    color: #46d369;
}

/* Definição da cor, da fonte e da margem da sinopse do filme destaque */
.destaque--sinopse {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 30%;
}

/* Definição da margem dos botões no filme destaque */
.destaque--botoes {
    margin-top: 15px;
}

/* Definição das características dos botões "Assistir" e "+ Minha Lista" filme destaque */
.destaque--botaoassistir,
.destaque--botaolista {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}

/* Definição do efeito ao passar o mouse nos botões "Assistir" e "+ Minha Lista" do filme destaque */
.destaque--botaoassistir:hover,
.destaque--botaolista:hover {
    opacity: 0.7;
}

/* Definição das cores do botão "Assistir" */
.destaque--botaoassistir {
    background-color: #fff;
    color: #000;
}

/* Definição das cores do botão "+ Minha Lista" */
.destaque--botaolista {
    background-color: #333;
    color: #fff;
}

/* Definição das características das informações dos gêneros */
.destaque--generos {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

/* Parte responsável pela responsividade do projeto e da página */
/* Algumas mudanças para a página ficar mais agradável para o usuário que está em outro dispositivo fora o computador */
@media (max-width:760px) {
    .destaque {
        height: 90vh;
    }
    .destaque--nome {
        font-size: 40px;
    }
    .destaque--info {
        font-size: 16px;
    }
    .destaque--sinopse {
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .destaque--botaoassistir,
    .destaque--botaolista {
        font-size: 16px;
    }
    .destaque--generos {
        font-size: 14px;
    }
}