/* CSS separado para cada um dos itens que foram utilizados para melhor organizar */
LinhasDeFilme {
    margin-bottom: 30px;

}
.linhasDeFilme h2 {
    margin: 0px 0px 0px 30px;
}
.linhasDeFilme--areaDaLista {
    overflow-x: hidden;
    padding-left: 30px;
}
.linhasDeFilme--lista {
    transition: all ease 0.5s;
}
.linhasDeFilme--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

/* Efeito: ao passar o mouse sobre a imagem/capa da filme ou serie ela amplia  */
.linhasDeFilme--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0,3s;
}
.linhasDeFilme--item img:hover {
    transform: scale(1);
}

.linhaDeFilme--direita,
.linhaDeFilme--esquerda {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.linhaDeFilme--esquerda {
    left: 0;
}

.linhaDeFilme--direita {
    right: 0;
}

.linhasDeFilme:hover .linhaDeFilme--esquerda,
.linhasDeFilme:hover .linhaDeFilme--direita {
    opacity: 1;
}

@media (max-width: 760px) {
    .linhaDeFilme--direita,
    .linhaDeFilme--esquerda {
        opacity: 1;
    }
}