@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/* Definição da cor de fundo da página, da cor e da fonta das letras e também da margem */
body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Definição da margem entre as listas */
.listas {
    margin-top: -170px;
}

/* Definição da margem e do alinhamento do texto na parte inferior da página, no rodapé (footer) */
footer {
    margin: 50px 0;
    text-align: center;
}

/* Definição do GIF (Graphics Interchange Format) ou intercâmbio de gráficos, ou seja, imagem em movimento, no abrir da página */
.carregando {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}